[2016-08-09 13:13] tovare opened #3 "Do you have plans to support ghost export file format v006 (Ghost v0.9) ?"
Hi,
Attempting to convert my blog causes an errot.

2016/08/09 08:23:08 Error processing Ghost export: json: cannot unmarshal string into Go value of type int64

It looks like ghost has updated it's file format stopped using milliseconds for timestamps in several fields:

[code]

[2016-08-09 13:21] jbarone commented on #3
Thanks for reaching out, I was not aware that they changed DB versions again.

- Can you please tell me what version of ghost you are using?
- Could you provide me with a sanitized copy of the export, to verify my fixes?

[2016-08-09 20:09] tovare commented on #3
Hi,
Here´s a dump. The version is Ghost 0.9.0

[tov-are-jacobsen.ghost.2016-08-09.json.zip](https://github.com/jbarone/ghostToHugo/files/409802/tov-are-jacobsen.ghost.2016-08-09.json.zip)

[2016-08-09 20:11] jbarone commented on #3
Excellent, thanks. I will work on a fix for this.

[2016-08-09 20:42] tovare commented on #3
great :-)

[2016-08-14 17:46] #3 closed

[2016-08-14 17:50] jbarone commented on #3
@tovare I've added a new command line option ("-dateformat") that will allow you to specify a date format to use when processing the export. In your case you would use `-dateformat "2006-01-02 15:04:05"`, which results in the following command:

    $ ghostToHugo -dateformat "2006-01-02 15:04:05" tov-are-jacovsen.ghost.2016-08-09.json

Please let me know if you have any more issues.

[2016-10-03 16:19] edude03 opened #4 "Drafts don't carry over created_at time"
Thanks for the tool, I was able to easily migrate from Ghost to Hugo with it.

After importing I noticed that my drafts had a published at time of 1969 which makes me assume something somewhere tried to parse the published_at time of the post (null for drafts) and is using `null.to_date` as the published date.

Looking here https://github.com/jbarone/ghostToHugo/blob/master/lib/ghost/ghost.go#L74-

[2016-10-04 02:42] jbarone commented on #4
@edude03 That's a great idea. I'll be happy to get that added in for you.

[2016-10-07 19:19] #4 closed

[2016-10-13 13:54] jchatard opened #5 "Import stops after 3 posts"
Hi,

I just tried this import program, currently hosted in Ghost platform.

Obviously I have more posts.

The meta version of the export says:

[code]

Anything I don't get?

Thank you!
Jérémy

[2016-10-13 14:01] jbarone commented on #5
That's super odd. Would you be willing to share your export with me?

On Thu, Oct 13, 2016 at 8:54 AM Jérémy Chatard <notifications@github.com>
wrote:

[2016-10-13 14:04] jchatard commented on #5
Yeah sure, even though it's nothing really private, I can send you a link to get the export, via mail for example?

[2016-10-13 14:09] jbarone commented on #5
cool send it too joshua(at)caveconfessions(dot)com

[2016-10-13 14:22] jbarone commented on #5
okay, I'm seeing the issue. I'll dig into this and update here when I figure something out.

[2016-10-13 15:07] jbarone commented on #5
What a fun problem you found for me. I've narrowed it down. It appears the way I was handling tags is what was causing the issue. I should have a fixed version up for you in about an hour.

[2016-10-13 15:08] jchatard commented on #5
Awesome! 😍

[2016-10-13 15:12] #5 closed

[2016-10-13 15:13] jbarone commented on #5
Took less time than I thought. 😄 Let me know if you have anymore issues with it.

[2016-10-13 15:17] jchatard commented on #5
Rock 'n' roll! 😸

Thank you so much for the insanely fast fix!

[2017-01-09 07:07] Chealion opened #7 "undefined: hugolib.NewPage"
When running `go get github.com/jbarone/ghostToHugo`, I receive the following error:

    chealion@~ % go get github.com/jbarone/ghostToHugo
    # github.com/jbarone/ghostToHugo/lib/hugo
    Documents/go/src/github.com/jbarone/ghostToHugo/lib/hugo/hugo.go:75: undefined:  hugolib.NewPage

I did remove everything in `src` and `pkg` directories to clear things out just in case and then tried on a fre

[2017-01-09 13:56] jbarone commented on #7
It looks like the dependancy `hugolib` has indeed changed. I will update `ghostToHugo` and push the changes.

[2017-01-09 14:30] jbarone commented on #7
The code has been updated. Please let me know if you have anymore issues. Thanks.

[2017-01-09 14:30] #7 closed

[2017-01-09 15:18] Chealion commented on #7
Awesome and much appreciated!

[2017-02-17 18:48] kirtan403 opened #8 "Error installing ghostToHugo"
I ran the following command to install: `go get github.com/jbarone/ghostToHugo`
Output is something like this:
[code]

Not sure what's wrong.

Using go 1.8 on windows 10 64-bit

[2017-02-17 20:10] jbarone commented on #8
Well, that's no good. I'll look into it and get a fix up soon.

[2017-02-17 20:14] jbarone commented on #8
Looks like I missed one.

[2017-02-17 20:25] #8 closed

[2017-02-17 20:26] jbarone commented on #8
It should be working for you now. Please let me know if you're still having issues.

[2017-02-18 04:13] kirtan403 commented on #8
Thank you for the quick response. It worked. Awesome 👍

[2017-02-24 21:26] julianxhokaxhiu opened #9 "Date parsing issue with Ghost 009 export"
Hi,

I was trying to use this super awesome tool to convert my Ghost export to Hugo, although I'm having a strange issue over dates.

Exported JSON:
[code]

Output example:
[code]

config.toml
[code]

go version
[code]

As you see `date` is completely ignored. I've tried to use the [`--dateformat`](https://github.com/jbarone/ghostToHugo/issues/3#issuecomment-239686721) option without success.

Any

[2017-02-24 22:24] jbarone commented on #9
hmm date format should work. Did you try `--dateformat "2006-01-02 15:04:05"`?

[2017-02-24 22:27] julianxhokaxhiu commented on #9
Ok this is interesting. I thought that string was arbitrary string, but indeed if I use the one provided by you works fine.

Can you please add this to the README? Imho it was not clear.

Thank you very much and best regards :)

[2017-02-24 22:29] jbarone commented on #9
Yeah, go uses some odd time/date format strings. I will happily update the ReadME. And, I'm glad to hear that it is working for you.

[2017-02-24 22:29] #9 closed

[2017-05-26 18:53] chris-short opened #10 "assignment count mismatch: 2 = 1"
[code]

[2017-05-28 01:37] danielkdewar opened #11 "Command not found"
Regardless of the ghostToHugo command, I am getting command not found:

[code]
Do I have my command format correct? I've looked up the documentation and I can see where I would be wrong.

[2017-05-28 15:35] jbarone commented on #10
Hello @chris-short, could you tell me what version of Hugo you are using?

    $ hugo version

[2017-05-28 16:15] jbarone commented on #10
I've just tested installing on a clean system. I think the issue may be the version of Hugo you are using. Could you please try to install with the `-u` option and let me know if that works for you

    $ go get -u github.com/jbarone/ghostToHugo

[2017-05-28 16:20] jbarone commented on #11
Hello @danielkdewar

It looks like you are using the old syntax there. I hadn't updated the [README](https://github.com/jbarone/ghostToHugo/blob/master/README.md) in a while, so I went ahead and did that, and included examples. Please take a look and see if the new one helps.

Secondly, the `command not found` is saying that bash is unable to locate the binary. This could be happening for a few di

[2017-05-28 16:20] #11 closed

[2017-05-31 16:29] chris-short commented on #10
`chrisshort@cshort-mbp ~> go get -u github.com/jbarone/ghostToHugo
chrisshort@cshort-mbp ~> hugo version
Hugo Static Site Generator v0.21-DEV darwin/amd64 BuildDate: 2017-04-28T09:26:39-04:00`

[2017-05-31 16:41] chris-short commented on #10
Your assumption was correct. Thanks!

[2017-05-31 16:41] #10 closed

[2017-06-17 18:49] lyoshenka opened #12 "hugolib: exit status 1"
Getting the following error when trying to install:

[code]

Let me know if it would help to provide any details about my setup.

[2017-06-17 22:43] jbarone commented on #12
Looks like you have changed something in Hugo. You can either revert those changes or drop the `-u` option so that it doesn't try to update.

If it's still giving you problems, then try adding `-v` option and share the output here.

[2017-06-26 22:01] #12 closed

[2017-06-30 00:27] lyoshenka commented on #12
I figured it out. I had a global gitattributes file that performs LF normalization in text files, and it had trouble updating since some files have Windows-style line endings.

Anyway, the problem was on my end. Thanks for your help.

[2017-06-30 12:57] jbarone commented on #12
That is great to hear that it worked out. You did inspire me though, so the lib is now vendored, and I am now supplying pre-build binaries on the releases page.

[2017-11-04 23:09] bgiesing opened #14 "Can't import, "unmarshal string" error"
Throws this error, not sure why:

[code]

[2017-11-04 23:50] jbarone commented on #14
Sorry you're having an issue. Could you do my a favor and post your `post_tags` section of your json export? That error message is telling me that you have and id field that is quoted as a string, and it should be an unquoted number.

[2017-11-05 01:31] bgiesing commented on #14
@jbarone it crashed my computer trying to open the export I can't check, here's the whole file. https://gateway.ipfs.io/ipfs/QmXYW16qQNEFRv2gCha1F1X6z1NfosfsXRME8xHVmp7BQt/brandon-giesing.ghost.2017-11-04.json

[2017-11-05 02:34] jbarone commented on #14
Interesting, it appears that your export is using a hex string as IDs. That must be something new. I will get an update in to solve this, but it may not be tonight.

Also, appreciate you sharing this export, I will get this working for you.

[2017-11-05 17:08] #14 closed

[2017-11-05 17:12] jbarone commented on #14
@bgiesing I've pushed a new update that seems to have fixed importing for your export. Just get the latest version and you should be good to go:

[code]

Let me know if you have any other issues.

**Side Note**: looks like some of your markdown (specifically links) isn't quite right and may need to be edited to display the way you want.

[2017-11-19 13:16] Kaligule commented on #12
@jbarone It would be very usefull to mention the prebuilt binaries in the README. I think there are a great idea.

[2017-11-19 14:20] jbarone commented on #12
Thanks @Kaligule, It apparently slipped my mind. I've updated the README.

[2017-11-19 14:24] Kaligule commented on #12
Very helpfull, thank you @jbarone

[2018-01-08 02:21] jloh opened #15 "Fails to migrate images"
I've got a post that has the following markdown:

[code]

After the migration the image markdown doesn't seem to make it into the hugo export.

Using Ghost 1.19.2 and the latest ghostToHugo.

[2018-01-08 02:38] jbarone commented on #15
what is the output you get?

[2018-01-08 02:58] jloh commented on #15
It drops the image entirely as if it was never there. Ends up something like this:

[code]

Basically just an extra blank line.

[2018-01-08 13:35] #15 closed

[2018-01-08 13:57] jbarone commented on #15
@jloh I have fixed the issue, and have cut a new release. Please let me know if you have any other issues.

[2018-08-27 20:11] tareefdev commented on #15
Hi, I'm sorry to reopen this again, but I have the same problem here:

`![buddah](/content/images/2017/08/buddah.jpg)`

the previous link seems broken when I tried to make it:

`/hugo/content/images/2017/08/buddah.jpg`

it works. From `config.toml`:

`baseURL = "https://example.com/hugo/public"`

[2018-08-27 20:33] jbarone commented on #15
sorry @tareefdev, I don't quite follow your question here. Is the markdown snippet what `ghostToHugo` created? Because, it is designed to strip out the `/content`. I would expect it to be

`![buddah](/images/2017/08/buddah.jpg)`

If that is not the case, then please open up a new issue.

[2018-08-27 21:09] tareefdev commented on #15
Thanks, @jbarone yep the markdown snippet generated by `ghostaToHugo`.. So what other options I have here?

[2018-08-27 21:15] jbarone commented on #15
@tareefdev please open a new issue, and provide me the version of Ghost that you exported

[2018-08-28 08:33] tareefdev opened #16 "The script keeps images urls without changing"
I have the following image in my ghost blog:

`https://blog.example.com/content/images/2017/08/buddah.jpg`

After executing the script (v0.2.1) on json exported file from a ghost (v2.0.3), I got the following markdown:

`![buddah](/content/images/2017/08/buddah.jpg)`

This happens to all images and no one display on my new hugo blog. Although if I manually get rid of `/content` from the previous l

[2018-08-28 16:49] jbarone commented on #16
Looks like ghost has changed the exports again. This is going to take me some time to update.

[2018-08-28 17:44] tareefdev commented on #16
Maybe at this time, I'll use `sed` to do recursive search and replace in my files. BTW thanks for your great work here :)

[2018-08-28 18:15] jbarone commented on #16
I'm looking at it a little more and realized that the version difference isn't your issue, would you be willing to provide you export? I could create a one off for you, or you could just go the `sed` route.

Seems I am stripping `/content` from cover images, but not in the content, so I will need to fix that, but updating for the new version is a bigger task.

[2018-08-28 21:09] tareefdev commented on #16
Hi @jbarone thanks for your offer, I was able to do a search and replace using Emacs, now everything work, anyway the script helps me a lot, so thanks again.

[2018-08-28 21:43] jbarone commented on #16
Awesome, I'm glad you got it working.

[2018-08-30 14:56] tareefdev commented on #16
Hey @jbarone I have a question. In ghost there are two types of images:

- The one which you can add by clicking on the settings gear, this image just appears at the post's head.
- Inline images, those inserted in the post body.

As I see the script doesn't export the post's image to the metadata section. For example, see the following post's metadata:

[code]

What I I expect is another meta call

[2018-08-30 15:42] jbarone commented on #16
Hmm it actually should be adding that one. Is the image declared in the post you're referring to?

you should see a tag in that post like this:

[code]

[2018-08-30 19:11] jbarone commented on #16
sure thing, you can email it to me (joshua.barone AT gmail)

[2018-08-30 19:32] tareefdev commented on #16
oh thanks :)

[2018-08-31 03:47] #16 closed

[2018-08-31 03:53] jbarone commented on #16
New release binaries are up (v0.2.2) it will handle the cover image issues, you will still need to `sed` the `/content` url for content though.

[2018-08-31 06:42] tareefdev commented on #16
Great! thanks

[2018-11-21 22:00] fvant opened #17 "Conversion worked but gives can't evaluate field Related in type hugolib.Pages"
**Describe the bug**
Export of Ghost and conversion resulted in a bunch of files with familiar content but running hugo on it does not give me a working site.
[code]
hugo server  shows a site but it is not a migration, what did i do wrong ?

[2018-11-21 22:29] fvant commented on #17
My bad, template issue,  hasper worked a lot better !

[2018-11-21 22:29] #17 closed

[2019-01-11 10:32] nicholaskajoh opened #19 "MD files contain only front matter"
**Describe the bug**
The MD files are generated as expected, but they only contain front matter without the actual contents of the post.

**Version of Ghost**
Which version of Ghost was used to create the export
v2.9.1

**To Reproduce**
Steps to reproduce the behaviour:
1. Export your content from the Labs section of the Ghost Admin app.
2. Download the ghostToHugo binary for your OS (I used v0.2.

[2019-01-13 19:11] jbarone commented on #19
@nicholaskajoh could you please try with v0.3.0 and see if that resolves your issue?

**NOTE**: depending on your export, you may need to provide a time format string. With the latest ghost version I needed the following:

```$ ./ghostToHugo -f"2006-01-02 15:04:05" -p "/path/to/blog" "/path/to/export"```

[2019-01-14 07:30] nicholaskajoh commented on #19
Works like a charm! Thanks.

Although, when I used `-f "2006-01-02 15:04:05"` it messed up the dates in all my posts. The dates became `0001-01-01T00:00:00Z`.

[2019-01-14 12:37] jbarone commented on #19
Excellent! Glad to hear it's working.

On the date issue, that was based on what I was seeing from my export from Ghost, clearly your's is different. If you need some help figuring out the format, just drop a snippet (`created_at` date from a post) in here from your export and I'll help you decode it.

[2019-01-14 12:37] #19 closed

[2019-01-14 15:21] nicholaskajoh commented on #19
Here's one: **2018-12-25T06:51:43.000Z**.

[2019-01-14 15:47] jbarone commented on #19
Ah, then you're in luck. That is the default `ghostToHugo` uses. Just leave off the `-f` option and you should be good to go.

[2019-03-23 20:33] sesser opened #20 "ERROR rendering post with "embed" card"
**Describe the bug**
I one post in my blog with a youtube video embedded into the post. Ghost provides this mechanism to add HTML into a post. During conversion, it manages to write the metadata (front matter) but errors with the following:

`2019/03/23 13:16:30 ERROR rendering post "5c6432e513310f1a9fb977ab" (unable to parse mobiledoc: unable to locate renderer for card "embed")`

**Version of Gh

[2019-03-23 21:49] #20 closed

[2019-03-23 21:51] jbarone commented on #20
Looks like I forgot to add all the cards. I've added the Embed. I'm going to open a new issue as well to add Gallery card, which doesn't appear you're using so v0.3.1 should work for you.

[2019-03-23 21:53] sesser commented on #20
Awesome! Thanks for the quick response. 👍

[2019-03-23 21:58] jbarone opened #21 "Add support for Gallery Card"
Ghost supports a Gallery card that needs to be handled in ghostToHugo

https://github.com/TryGhost/Ghost/blob/4f9e687f62e0f1023c1d10aa6b06d82c523fc2a6/core/server/lib/mobiledoc/cards/gallery.js

[2019-09-15 04:56] Daegalus commented on #21
Did you ever get a chance to make any progress on this? I am using this to convert multiple ghost blogs to Hugo, and i had 1 successful but just hit a problem on another that uses the gallery card.

[2019-09-15 10:17] jbarone commented on #21
Sorry to hear that you're having an issue @Daegalus. I honestly got distracted by other things, but I do have some time to look into it. Lemme see if I can solve this for you.

[2019-09-16 11:26] #21 closed

[2019-09-16 11:56] jbarone commented on #21
@Daegalus I've implemented the gallery card in a minimal way, by creating HTML
similar to that created by Ghost. The HTML does not assume any classes
or styles and will need to be manually edited after conversion to suit
the theme being used.

Example Output:
[code]

I hope this at least helps you in your conversion.

I'm making a note for future work for some configurable templating that should h

[2019-09-16 15:47] Daegalus commented on #21
That is perfect, thank you for the quick turnaround.

[2019-09-24 08:46] msamoylov opened #23 "Unable to build"
**Describe the bug**

[code]

[2019-09-24 14:39] jbarone commented on #23
I'm sorry it's not building.

Looks like there are few things going on. Hugo has changed some things on me, which normally shouldn't be an issue since the go.mod should lock to a particular version of Hugo. Your build doesn't seem to have go modules turned on, which I'll have to update the docs to show how to do that. I just tried to build both with and without go modules, and I'm seeing fails in

[2019-10-22 22:10] pwntester opened #24 "Image are not migrated"
Hi,

Im trying to move away from ghost and giving Hugo a try. Thanks to you migration tool I was able to migrate most of the content, however images are not being migrated to Hugo. I can find the images in the ghost json file, for example:

[code]
However in the migrated post the image url is gone

**Version of Ghost**
0.7.1

Thanks!

[2019-10-23 09:01] pwntester commented on #24
my bad, it was a different problem

[2019-10-23 09:01] #24 closed

[2019-10-24 06:04] jpanther opened #25 "Error rendering post with "html" card"
**Describe the bug**
During conversion the front matter is written to the post output but the post content is missing when the post contains an HTML card. The script outputs the error:

`ERROR rendering post "5c17194b58ba55117d34bbca" (unable to parse mobiledoc: unable to locate renderer for card "html")`

**Version of Ghost**
2.16.4

**To Reproduce**
1. Export ghost posts with a post containing a

[2019-10-25 15:39] #25 closed

[2019-10-25 15:40] jbarone commented on #25
Sorry that one was missing. Not sure how I overlooked it. New release is up v0.3.4 that includes the html card.

[2019-10-25 23:57] jpanther commented on #25
Thanks for fixing this, update worked perfectly! You've saved me a LOT of manual work recovering these posts!!

[2019-11-06 14:56] jbfriedrich opened #26 "Tool does not work with Ghost 3.x export"
**Describe the bug**
When running ghostToHugo with a Ghost 3.x export file, the tool quits with the error message `2019/11/06 15:53:06 Error processing Ghost export: not at beginning of value`.

**Version of Ghost**
3.0

**To Reproduce**
Run `../ghostToHugo ~/Downloads/jason-friedrich.ghost.2019-11-06-13-59-32.json` and immediately receive the error message.

**Expected behavior**
Same export of p

[2019-11-07 16:16] jbarone commented on #26
Thanks for the report. I'm currently doing a rewrite to update some things, I will add this to that effort as well.

[2019-11-07 17:31] jbfriedrich commented on #26
Thanks for the quick reply. Sounds great! 😃. Do you already have a time frame in mind? I am currently moving my blog and all that is missing is migrating the content. Just curious as I am anxious to complete my move.

Thanks for this great tool! I tried to walk through some code to send a PR, but my brain seems to be unable to parse Go code 🙂.

[2019-11-08 02:32] jbarone commented on #26
$JOB is keeping me pretty busy right now, but I'm planning to have something for early next week to push out.

[2019-11-08 07:29] jbfriedrich commented on #26
Thanks for the feedback, appreciate it! Then I’ll hold off and wait. Thanks again!

[2019-11-08 07:29] #26 closed

[2019-11-24 22:32] jbarone commented on #23
@msamoylov The new rewritten version is up. Should be able to build now. Please let me know if you are still having issues.

[2019-11-24 22:32] #23 closed

[2019-11-24 22:33] jbarone commented on #26
@jbfriedrich v0.4.0 is out. I didn't change much of the parser, it still worked agains the ghost v3 exports that I created to test with. If you still have issues, please let me know.

[2019-11-25 00:31] jbfriedrich commented on #26
Thanks @jbarone! I will test it with my export in the last couple of days. If i dont update this thread, everything worked smoothly. Thanks for the update!

[2019-12-15 21:37] mceachen opened #27 "Thanks for ghostToHugo!"
Thanks for making this project! :100: :1st_place_medal:

I had a couple trivial things you might want to consider:

* Ghost 3.0 exports dates as ISO, so `-d "2006-01-02T15:04:05.000Z"` might be a better default for `--dateformat` now.

* You point to herring-cove as a good default theme, but that theme has been abandoned.

[2019-12-16 02:56] jbarone commented on #27
Hello @mceachen. I appreciate the feedback.

- In my recent work with my rewrite, I discovered that Ghost doesn't actually have a default date export. It appears to be more based on the backend DB that is supporting Ghost. Now that you mention it though, me rewrite and change of the default was based on a sqlite backend. I'll need to investigate further and see what exports look like coming from g

[2019-12-16 03:09] mceachen commented on #27
It seems like blogging themes get pretty regularly abandoned, so maybe using the one that Hugo's getting-started instructions uses would be the least likely to die? That's https://github.com/budparr/gohugo-theme-ananke

[2020-01-25 16:28] RealCodeTips opened #28 "cannot unmarshal string into Go value of type ghosttohugo.meta"
**Describe the bug**
When running the script the following error is returned

[code]

**Version of Ghost**
3.1.1

**To Reproduce**
Steps to reproduce the behavior:
1. Exported the json file from the Lab section
2. Ran `./ghostToHugo --dateformat "2006-01-02T15:04:05.000Z" -f -p project export.json`
3. See error

**Expected behavior**
Import would run successfully.

**Additional context**
From a li

[2020-01-25 16:40] jbarone commented on #28
Interesting. `meta` should only be called once. But, I think I have an idea what is happening. I’ll be able to take a look a little later today.

[2020-01-25 16:50] RealCodeTips commented on #28
Unfortunately, I don't have my preferred IDE on my personal laptop so can't debug it very well 👍

I got around it by cloning the repo and just commenting out the `return err` statement in `info.go`.

[2020-01-28 14:55] jbarone commented on #28
Would you be willing to share your export with me? I can't seem to recreate the issue on my end.

[2020-01-28 15:10] RealCodeTips commented on #28
Honestly, I'd have to inspect it first as I don't know what's included in the export.

In the mean time, if it helps, I decoded the data to an `interface{}` if `c.info.meta` has already been populated and this is the part that caused the error:

[code]

[2020-01-28 15:17] RealCodeTips commented on #28
Which seems to be part of an "emails" section 🤔

[code]

I have a feeling this is because of the new Ghost V3 set-up, where it can now manage emails to users etc....

[2020-01-28 15:18] jbarone commented on #28
Ugh, that was what I suspected.

[2020-01-28 15:27] RealCodeTips commented on #28
If it helps, I got around it by adding a condition to check if `c.info.meta` has already been populated.

[code]

Honestly, the import/export/backup process on Ghost is one of the reasons I'm moving away.

[2020-01-28 15:32] jbarone commented on #28
I think I can make it cleaner. Just scratching my head over here. If there is any sensitive info in the export, it would be in the `settings` section. If you strip that out, should be safe to send my way.

[2020-02-02 19:00] jbarone commented on #28
@RealCodeTips I have a candidate fix, would you be willing to test it for me? Which OS are you running on?

[2020-10-18 01:55] egoebelbecker opened #29 "Import Not Working with Ghost 3.35.5"
**Describe the bug**
I'm trying to run an import with a JSON file from v3.35.5. (It's a Ghost Pro Site.)

I'm getting this error:

FATAL 2020/10/17 21:47:36 Error opening export: json: cannot unmarshal string into Go value of type ghosttohugo.meta

I've pulled down the latest source and built from GitHub, since the last release looks to be older. Same error.

**Version of Ghost**
3.35.5

**To Repr

[2020-11-28 23:25] jbarone commented on #29
Sorry for not responding sooner. I am looking into this. A lot has changed on both ghost side and hugo side, I'm trying to make them match back up. I hope to have a new version up soon.

[2020-12-01 12:38] egoebelbecker commented on #29
Much appreciated! I'm hoping to migrate over before my account renews, but I've got some time left. I'd be happy to help with testing.

[2020-12-07 15:05] jbarone commented on #29
@egoebelbecker I'm still working on it. I don't have it release ready, but I do think I have it working against the export you shared. If you would like to test it, could you please send me an email and tell me what OS you're running on. I can send you a build to try out. Thanks.

[2020-12-16 19:47] BirkhoffLee commented on #29
I'm on Ghost 3.38.3 looking to migrate to Hugo. I'm willing to help out for testing too!

[2020-12-16 19:50] jbarone commented on #29
@BirkhoffLee Excellent! What I could really use for testing right now is more example exports. If you're willing to share yours with me, that would help a lot. Feel free to shoot me an email if that works for you. Thanks.

[2020-12-23 18:10] MarcoZehe commented on #29
I am also interested in a migration. Let me know if you need any more exports. 👍

[2020-12-23 18:16] MarcoZehe opened #30 "Building errors with latest Go and current main branch on macOS Big Sur"
**Describe the bug**
When trying to build GhostToHugo via Go, I get the following error output:

[code]

**Version of Ghost**
3.40, but that's not even at play yet here.

**To Reproduce**
Steps to reproduce the behavior:
1. Install current Go 1.15.4.
2. Run `go get -u github.com/jbarone/ghostToHugo`.

**Expected behavior**
GhostToHugo should build.

**Additional context**
MacOS 11.1 on an M1 chip.

[2020-12-27 19:45] #27 closed

[2020-12-27 19:45] #28 closed

[2020-12-27 20:09] jbarone commented on #29
@MarcoZehe & @BirkhoffLee this should all be resolved with the latest version I just released.

[2020-12-27 20:09] #29 closed

[2020-12-29 17:45] jbarone commented on #30
Can you try installing using this command:

`GO111MODULE=on go get github.com/jbarone/ghostToHugo@latest`

[2020-12-31 16:19] MarcoZehe commented on #30
This installation worked. I also got a directory structure created, and a suggestion to download a theme and how to start Hugo with that theme.

However, I am noticing two thing:

1. I usually have an excerpt in my posts, and this also gets exported to the JSON file. I saw this when I tried an exporter that exported kind of yaml/Markdown with Jekyll-style front matter files. However, your exporter

[2020-12-31 17:42] jbarone commented on #30
Glad the installation worked, I'll update the README with those new instructions.

1. I don't think I've encountered the excerpt before. If you could share your export with me I'll be happy to take a look. Better yet, I'll close this issue, could you open a new issue for the missing excerpt and we can work it there?

2.  This is a known issue, the suggested theme is one that is out of date and not

[2020-12-31 17:43] #30 closed

[2020-12-31 18:00] jbarone commented on #30
@MarcoZehe  No need for the new issue or the export. I've identified what needs to happen and will have a fix pushed shortly. Thanks for alerting me to this.

[2021-05-10 18:21] sebdanielsson opened #31 "Add option for page bundles"
Would be neat with an option to automatically create a [page bundle](https://gohugo.io/content-management/page-bundles/) for all posts. I converted all of my posts to leaf bundles with this shell script but it would be even better to have this built in.

For example you could have the following options:
--leaf              use this option to create a leaf bundle for each post
--branch        use t

[2021-05-10 18:43] jbarone commented on #31
This is very interesting. I'll look into this for sure.

[2021-08-03 13:01] exist2021 opened #34 "How to access my converted MD files?"
Hello,

I manage to import my 984 blog posts, but now I don't know how to see these MD files. I don't really want a Hugo site, all I wanted was to convert JSON to MD. Could you please help?

![Screenshot 2021-08-03 at 5 24 15 PM](https://user-images.githubusercontent.com/83490199/128019783-86391dc3-1ffe-46d5-8580-d16da5dded3d.png)

[2021-08-03 13:15] jbarone commented on #34
Hello @exist2021

When you convert the site to Hugo, the `newhugosite` folder will be laid out according to Hugo conventions. This means that your markdown files will be in `newhugosite/content` folder, with post type entries being in the `post` folder inside content.

[2021-08-03 13:52] exist2021 commented on #34
Ok. I am sorry not a programmer. But how do i convert the site to Hugo. Your read me files ends abruptly I felt. All I have is the screenshot I shared.

[2021-08-03 14:23] exist2021 commented on #34
I did, but I got this command not found. Thanks for the help, really appreciate it. Let me know how to proceed further.

![Screenshot 2021-08-03 at 7 48 24 PM](https://user-images.githubusercontent.com/83490199/128032024-e33469a4-1e59-41f1-b21a-18d8fc452fb9.png)

[2021-08-03 14:28] jbarone commented on #34
Ah okay, seems you don't have Hugo installed then. You can find the instructions to get that setup on the Quick Start page on Hugo's site https://gohugo.io/getting-started/quick-start/

[2021-08-03 14:35] exist2021 commented on #34
Ah! Will do

[2021-08-03 15:39] jbarone commented on #34
Hmmm that sounds like it's having an issue with some short code inside that particular file. Would you be willing to share your export with me? I can take a look and see if I can figure out what is going on

[2021-08-03 16:28] exist2021 commented on #34
If you mean my ghost JSON file, here is the file https://www.dropbox.com/sh/a7zvdcfxb4pm3ok/AAA6SLG7THtMDaqiRqIlzeCZa?dl=0

[2021-08-03 16:32] jbarone commented on #34
I grabbed it, if you want to delete it or stop sharing it. I'll check it out and let you know what I discover

[2021-08-03 16:40] exist2021 commented on #34
No worries just one of the two 10 year old blogs I am trying to shift from Ghost.

Do let me know when you have the solution.

[2021-08-03 16:59] jbarone commented on #34
Looks like you have some links in the image captions on that particular post. If you go remove the anchor tags from the caption section, the site builds fine.

[2021-08-03 17:19] exist2021 commented on #34
There are 984 posts. Which particular post are you referring to? Can you remove the same for me? Or show me which one. Sorry, if I am taking too much of your time. Happy to pay for this if I can afford. :)

[2021-08-03 17:51] jbarone commented on #34
It's the one listed when you try to run `hugo server`. It's `newhugosite/content/post/interview-with-mary-dsouza-sequiera-indias-first-female-olympian-from-bandra.md`

But here is a modified version of it for you https://www.dropbox.com/s/agy47ml6ux7ii7i/interview-with-mary-dsouza-sequiera-indias-first-female-olympian-from-bandra.md?dl=0

[2021-08-03 19:14] exist2021 commented on #34
I removed that file from my JSON file but now I am not able to run the ghosttohugo command.
![Screenshot 2021-08-04 at 12 42 22 AM](https://user-images.githubusercontent.com/83490199/128072736-f5580565-3f42-49ea-a7b3-3ae384986b88.png)

[2021-08-03 19:50] jbarone commented on #34
I'm guessing from this screenshot, this is a different system than what you originally ran on. If you're running a newer version of go installed then you may need to change your install command a bit

[code]

This should download, build, and install `ghostToHugo` in your `$GOPATH/bin` folder. If it still doesn't work after running the above command, try the following

[code]

I hope that helps you

[2021-08-04 08:21] exist2021 commented on #34
It is the same system, I have just one system for now. I am not able to do the `ghostToHugo` command.

But I did update my mac to 11.5.1 Big Sur.  That is the only change that has happened. I am not sure if ghostToHugo is installed even after executing this `GO111MODULE=on go get github.com/jbarone/ghostToHugo@latest` Check screenshot.
![Screenshot 2021-08-04 at 12 42 22 AM](https://user-images.gi

[2021-08-04 11:00] jbarone commented on #34
Try doing this:

[code]

[2021-08-04 11:29] exist2021 commented on #34
Same issue after executing the command

![Screenshot 2021-08-04 at 4 58 32 PM](https://user-images.githubusercontent.com/83490199/128173270-d62f0701-3222-4bd0-a38c-73604a6c8606.png)

[2021-08-05 18:34] jbarone commented on #34
Excellent!

So the tool is designed to create a new folder to hold the site, by default it calls it `newhugosite` and puts it into the current folder. You can tell it where to put it, or overwrite one that was already converted using the different options. You can see what options are available by using the `-h` flag:

[code]
To specify where to put it, you would use the `-p` option:

[code]
This

[2021-08-06 11:24] exist2021 commented on #34
ok, I am close to getting this. Imported my 983 posts, but there is some error when running `hugo server --theme=herring-cove` Check screenshot.
![Screenshot 2021-08-06 at 4 44 40 PM](https://user-images.githubusercontent.com/83490199/128503364-7a7abc77-bb1f-475d-8733-5bafeb49a261.png)

[2021-08-06 16:16] jbarone commented on #34
You need to install the theme that you want to use. If you were just following the example instructions, you forgot to clone the theme first.

From what I can tell though, the import seems to have worked, so I'm going to go ahead and close this issue. If you need more help in getting Hugo up and running, I suggest you reach out to them on their discourse. They are really good at helping https://di

[2021-08-06 16:16] #34 closed

[2021-08-07 09:10] exist2021 commented on #34
Ah ok! Thanks so much!

[2021-09-11 15:25] sahgilbert opened #35 "Images files not migrated to Hugo export"
**Describe the bug**
None of my image files are migrated to the exported hugo blog.

**Version of Ghost**
Version 3.42.5

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following terminal command (without the dollar prefix):
$ ghostToHugo myblogexport.json -p myhugoblog

**Expected behavior**
Ghost blog migrated to Hugo with all image files included also...

[2021-09-13 12:25] sahgilbert commented on #35
Images now obtained directly from Ghost via an email request.

NB - Please update the README to state this for future readers, thank you.

[2021-09-13 12:25] #35 closed

[2021-10-01 09:29] teejo75 opened #36 "Location option doesn't work on Windows"
Using the option `-l "Australia/Brisbane"` with the latest Windows binary throws an error:
`FATAL 2021/10/01 19:19:15 Error loading location Australia/Brisbane: The system cannot find the path specified.`

I've tried running it elevated, but get the same error.

The Linux binary works fine.

[2021-10-01 12:10] jbarone commented on #36
That is a super weird one. The timezone locations are loaded from the host OS, I believe. I need to look into Windows, and see if I can figure out what is going on there.

[2021-10-01 12:24] jbarone commented on #36
Oh wow, seems I'm wrong, and things work differently on Windows. Okay so this appears to be a known issue, on windows systems where Go isn't installed (which I'm assuming is the case). I'll be happy to do a new build for you with the timezone data included. Would you be willing to test it for me before I add it to the release page?

[2021-10-01 12:31] jbarone commented on #36
[ghostToHugo.exe.zip](https://github.com/jbarone/ghostToHugo/files/7267096/ghostToHugo.exe.zip)

If you could please give that a go and let me know if that works for you, I'd appreciate it. I've embedded the timezone info into it, so should work.

[2021-10-02 03:56] teejo75 commented on #36
Yes, it works perfectly. Thanks for the super fast response!

[2021-10-02 12:21] jbarone commented on #36
Awesome! Thanks for letting me know about this. I wasn't aware this could be an issue.

[2021-10-02 12:21] #36 closed

[2022-07-22 12:09] dmd opened #39 "go install fails on MacOS"
Go install fails:

[code]

And before you ask...  I get the exact same thing building on amd64 (intel).

[2022-07-22 12:10] dmd opened #40 "go install fails on Linux"
[code]

[2022-07-22 12:20] jbarone commented on #40
Thank you for your report. I'm traveling, and away from a computer I can test on. However, looking at the output, it looks like you are using an old version of go (1.10). I would recommend trying to update your version of go first. At least up to a version that supports go modules. I think the current version of ghostToHugo was written for go 1.15.

[2022-07-22 12:25] jbarone commented on #39
Thanks for the report. I'm traveling, and away from a computer I can test on.

I think this is because the version of golang.org/x/sys that is pinned in the go.mod may be out of date and causing this issue. I can't verify and push a fix for this. You could possibly clone this repo and try to update the sys module, and see if that fixes it. Otherwise, I should be able to get to it next week.

How t

[2022-07-22 13:13] dmd commented on #39
Thanks, that worked.

[2022-07-22 13:13] #39 closed, assigned to nobody

[2022-07-22 13:29] jbarone commented on #39
Awesome! Thanks for testing. I'll update the version pinned in the repo soon.

[2022-08-13 04:43] SasikaA073 opened #41 "ghostToHugo command not found in WSL Ubuntu"
**Describe the bug**
I ran to this error, "ghostToHugo: command not found" but the "go install" command ran without giving in any errors. I ran this in WSL Ubuntu in Windows 11.

**Version of Ghost**
Ghost-CLI version: 1.21.0

**To Reproduce**
Steps to reproduce the behavior:

sasika@wsl :~$ cd ghostToHugo
sasika@wsl :~/ghostToHugo$ ghostToHugo export.json

sasika@wsl :~/ghostToHugo$ go install
sa

[2022-08-13 09:50] jbarone commented on #41
`go install` should install into your `$GOPATH/bin` folder. Could you check to see if it's there, and that folder is part of your `$PATH`. If it's not in your path you can try to invoke directly

[code]

Optionally, you can try to install using

[code]

[2022-08-23 18:12] #41 closed, assigned to nobody

[2022-08-28 09:47] rebron1900 opened #42 "The latest card format is not supported：paywall、callout、video、toggle、video"
The content of these articles is empty

Ghost Version: Version: 5.12.0
Error infos:

[code]

[2022-08-28 19:53] jbarone commented on #42
Thanks for the report. I'll look into these.

[2022-08-29 01:29] rebron1900 commented on #42
thks,